<div itemscope itemtype="http://schema.org/Blog">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 class="title" itemprop="name">{{.post.Title}}</h1>
	<div class="entry-content" itemprop="articleBody">
	{{str2html .post.Content}}
	</div>
</article>
</div>

<!--<section id="comment">
	<div id="SOHUCS"></div>
	<script charset="utf-8" type="text/javascript" src="/static/js/changyan.js" ></script>
	<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cys85ThUo',
        conf: 'prod_3fe283b6c5d0ba75ad0319e5718042a2'
    });
</script>    
</section>-->

<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{.post.Id}}" data-title="{{.post.Title}}" data-url="请替换成文章的网址"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"itlinyuan"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
